.filter_container {
    display: flex;
    align-items: center;

    font-size: 1.4rem;

    margin-bottom: 2rem;
}

.filter_button_container {
    display: flex;
    align-items: center;

    margin-left: 1rem;
}

.filter_button {
    display: flex;
    align-items: center;

    border: 1px solid transparent;
    border-radius: 1.5rem;

    margin-right: 1rem;
    padding: 0.5rem 1.5rem;

    color: var(--text);
    font-size: 1.4rem;
}

.filter_button:last-of-type {
    margin-right: 0;
}

.filter_button_active {
    border: 1px solid var(--border);
}
