.email_individual_container {
    display: flex;

    border-radius: 1rem;
    border: 1px solid var(--border);

    margin-bottom: 2rem;
    padding: 2rem 1rem;

    cursor: pointer;
}

.email_individual_container:hover {
    background-color: var(--card-bg-hover);
}

.email_contents {
    display: flex;
    flex-direction: column;

    width: 100%;

    font-size: 1.6rem;
}

.bold {
    font-weight: 700;
}

.email_contents_from {
    margin-bottom: 1rem;
}

.email_contents_subject {
    margin-bottom: 2rem;
}

.email_contents_short_description {
    margin-bottom: 1rem;
}

.email_contents_favorite {
    font-weight: 600;
    color: var(--accent);
    margin-left: 1rem;
}
