.panes_container {
    display: flex;
    justify-content: space-between;
}

.left_pane {
    width: 100%;
}

.left_pane_active {
    width: 38%;
}

.right_pane {
    position: fixed;
    right: 0;

    width: 58%;

    margin-right: 2rem;
}
