*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --accent: #e54065;
    --background: #f4f5f9;
    --background-read: #f2f2f2;

    --border: #cfd2dc;

    --text: #636363;

    --filter-button: #e1e4ea;

    --padding: 4rem;

    --white: #f9f9f9;

    --text-color-primary: var(--text);
    --text-color-secondary: #f9f9f9;

    --card-bg-hover: #dfe2dc;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--background);
    color: var(--text);

    padding: var(--padding);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

button {
    border: none;
    background: none;

    cursor: pointer;
}

.email_display_picture {
    padding: 0 2rem 0 1rem;
}

.email_display_name {
    display: grid;
    place-items: center;

    border-radius: 50%;

    width: 6rem;
    height: 6rem;

    color: var(--text-color-secondary);
    font-size: 4rem;
    text-transform: uppercase;

    background-color: var(--accent);
}
